.featuredCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  height: 400px;
  padding: 12rem;

  color: #1a1a1a;

  background: rgb(255, 255, 255);

  border-bottom: 1px solid transparent; /* Aplicar solo al borde inferior */
  border-image: linear-gradient(
      to right,
      rgba(37, 37, 37, 0),
      rgba(44, 44, 44, 1) 36%,
      rgba(48, 48, 48, 0.9444152661064426) 63%,
      rgba(38, 38, 38, 0) 96%
    )
    1;
  border-radius: 10px;
}

.featuredCardText {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  text-align: left;
}

.featuredCard h2 {
  color: #1a1a1a;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
}
.featuredCard p {
  font-size: 1.4rem;
}
.featuredCardImg {
  width: 40vw;
  height: 100%;
  background-image: url("../../assets/cat-han-W_5Eakb1598-unsplash.jpg");
  background-size: cover;
  border-radius: 10px;
  background-position: center;

  cursor: pointer;
}
.workBtn {
  height: 36px;
  padding: 0 10px;
}

.featuredCard:hover .featuredCardImg {
  box-shadow: 0 0 30px 10px #e6e6e6;
}
