.featuredCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  height: 400px;
  padding: 12rem;

  color: #1a1a1a;

  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(37, 37, 37, 0),
      rgba(44, 44, 44, 1) 50%,
      rgba(38, 38, 38, 0) 100%
    )
    1;
  border-radius: 10px;

  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2.2s ease, transform 2s ease;
}

.featuredCard.visible {
  opacity: 1;
  transform: translateY(0);
}

.featuredCardText {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  text-align: left;
}
.date {
  font-weight: 400;
  margin: 0;
}

.featuredCard h2 {
  color: #1a1a1a;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9;

  margin: 10px 0;

  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(44, 44, 44, 1) 0%,
      rgba(38, 38, 38, 0) 100%
    )
    1;
}
.featuredCard p {
  font-size: 1.1rem;
}
.featuredCardImg {
  width: 40vw;
  height: 100%;

  /* background-image: url(../../assets/victoria-priessnitz-JFAPl7brL6U-unsplash.jpg); */
  background-size: cover;
  border-radius: 10px;
  background-position: center;

  cursor: pointer;
}
.workBtn {
  height: 36px;
  padding: 0 10px;
}

.featuredCard:hover .featuredCardImg {
  box-shadow: 0 0 20px 10px #9b9b9b31;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}

@media (max-width: 1000px) {
  .featuredCard {
    padding: 12px 20px;
  }
  .featuredCardText {
    width: auto;
  }
  .featuredCard p {
    font-size: 1rem;
  }

  .featuredCard h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .featuredCard {
    flex-direction: column;
    padding: 12px;
  }
}
