.landing {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  margin: 0;
  z-index: 1;
}
.left {
  color: #1a1a1a;
  text-align: left;
  background: #ffffff;
  border: #fff 12px solid;
  border-radius: 10px 0 0 10px;

  height: 94vh;
  width: 45%;
  margin-left: 12px;
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left h1 {
  font-size: 4.2rem;
  line-height: 0.9;
  margin: 200px 50px 0 50px;
  padding: 0;

  opacity: 1;
}
.left p {
  font-size: 1.5rem;
  margin: 0 50px;
  padding: 0;
}

.social {
  padding: 15px 0 15px 50px;
  display: flex;
  gap: 15px;
  font-size: small;
}

.contactBtn {
  height: 36px;

  background-color: #ffffff00;
  color: #1a1a1a;
  margin: 0;
  border: solid 1px #1a1a1a;
  border-radius: 5px;
}
.contactBtn:not(:hover) {
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}
.contactBtn:hover {
  background-color: #1a1a1a;
  outline: none;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
  color: #fff;
}

.rightWedding {
  margin-right: 12px;
  margin-top: 12px;

  height: 94vh;
  width: 60%;
  border: #fff 12px solid;

  border-left: 0;
  border-radius: 0 10px 10px 0;
  background-image: url(../../assets/Ruby-beach-elopement.gif);
  background-position: center;
  background-size: cover;
}

.rightBusiness {
  margin-right: 12px;
  margin-top: 12px;

  height: 94vh;
  width: 60%;
  border: #fff 12px solid;

  border-left: 0;
  border-radius: 0 10px 10px 0;
  background-image: url(../../assets/fd9d1be0ba10b0af54143abdaa2ffaaa.gif);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 750px) {
  .landing {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    width: 90vw;
    height: 35vh;
    border-radius: 10px;
    margin: 12px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;

    align-items: start;
  }
  .left h1 {
    font-size: 3rem;
    line-height: 0.9;

    margin: 0;
  }
  .left p {
    margin: 0;
    font-size: 1.3rem;
  }
  .social {
    padding-left: 0;
  }
  .rightWedding,
  .rightBusiness {
    width: 90vw;
    border-radius: 10px;
    margin: 12px;
    border: solid 12px #fff;
  }
  .contactBtn {
    margin: 0;
  }
}
