.footer {
  width: 100%;
}
.footerContainer {
  margin-top: 12px;

  border-radius: 10px;

  background: rgb(37, 37, 37);
  background: linear-gradient(
    205deg,
    rgb(17, 17, 17) 0%,
    rgba(32, 32, 32, 0.944) 37%,
    rgb(0, 0, 0) 100%
  );
}
.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}
.footerTop h1 {
  font-size: 10rem;
  text-align: left;
  width: min-content;
  margin: 0;
  /* color: greenyellow; */
}
.footerTop p {
  font-size: 1.7rem;
  text-align: left;
  margin: 0 5px;
  /* color: greenyellow; */
}
.footerImg {
  background-size: cover;
  background-image: url(../../assets/seth-reese-2Fb_0y-9CdU-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;

  height: 400px;
  width: 45vw;

  /* box-shadow: 10px 10px 0 greenyellow; */
}

.footerMiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 80px;
  text-align: left;
}

.middleLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.middleContainer h3 {
  margin-top: 0;
  height: fit-content;
  font-weight: 500;
  font-size: 1.5rem;
}
.middleLinks a {
  color: #fff;
  font-weight: 200;
}

.footerBottom {
  border-top: solid 1px #666666;
  margin-top: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 80px;
}

.developer {
  display: flex;
  align-items: center;
  gap: 3px;
}
.developer a {
  font-weight: 300;
  color: greenyellow;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .footerTop h1 {
    font-size: 6rem;
  }
  .footerImg {
    height: 230px;
    width: 40vw;
  }
}

@media (max-width: 1000px) {
  .footerTop {
    padding: 12px;
  }
  .footerTop h1 {
    font-size: 3rem;
    z-index: 10;
  }
  .footerTop p {
    font-size: 1.2rem;
    margin-left: 1px;
  }
  .footerImg {
    height: 230px;
    width: 40vw;
    overflow: hidden;
  }

  .footerMiddle {
    padding: 12px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footerMiddle h3 {
    margin-top: 24px;
    margin-bottom: 0;
  }
  .middleLinks {
    flex-wrap: wrap;
    width: 100%;
  }

  .footerBottom {
    padding: 12px;
  }
}

@media (max-width: 600px) {
  .footerImg {
    display: none;
  }
}
